USE [master]
GO
/****** Object:  Database [training]    Script Date: 27/09/2025 20:15:19 ******/
CREATE DATABASE [training]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'training', FILENAME = N'C:\Users\Juan\training.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'training_log', FILENAME = N'C:\Users\Juan\training_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [training].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [training]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 27/09/2025 20:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](100) NOT NULL,
	[Location] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[divisi]    Script Date: 27/09/2025 20:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[divisi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu]    Script Date: 27/09/2025 20:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[id] [int] NOT NULL,
	[menu] [varchar](25) NOT NULL,
	[url] [varchar](200) NULL,
	[level] [int] NOT NULL,
	[parent_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 27/09/2025 20:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](100) NOT NULL,
	[Prices] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 27/09/2025 20:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](20) NOT NULL,
	[gender] [bit] NOT NULL,
	[divisi_id] [int] NULL,
	[note] [varchar](200) NULL,
	[tanggal] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getdate()) FOR [tanggal]
GO
ALTER TABLE [dbo].[menu]  WITH CHECK ADD  CONSTRAINT [FK_menu_parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[menu] ([id])
GO
ALTER TABLE [dbo].[menu] CHECK CONSTRAINT [FK_menu_parent]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_divisi] FOREIGN KEY([divisi_id])
REFERENCES [dbo].[divisi] ([id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_divisi]
GO
/****** Object:  StoredProcedure [dbo].[sp_Divisi_GetPaged]    Script Date: 27/09/2025 20:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Divisi_GetPaged]
    @SearchTerm NVARCHAR(100) = NULL, -- Parameter untuk kata kunci pencarian
    @PageNumber INT,                  -- Nomor halaman saat ini
    @PageSize   INT,                  -- Jumlah data per halaman
    @TotalRows  INT OUTPUT            -- Parameter output untuk total data
AS
BEGIN
    SET NOCOUNT ON;

    -- Jika search term kosong, set menjadi string kosong
    SET @SearchTerm = ISNULL(@SearchTerm, '');

    -- Tambahkan wildcard '%' untuk pencarian 'LIKE'
    SET @SearchTerm = '%' + @SearchTerm + '%';

    -- 1. Hitung total baris yang cocok dengan kriteria pencarian
    -- Total ini dibutuhkan oleh kontrol Pager di ASP.NET
    SELECT @TotalRows = COUNT(id)
    FROM Divisi
    WHERE nama LIKE @SearchTerm;

    -- 2. Ambil data untuk halaman yang diminta
    -- Menggunakan OFFSET dan FETCH untuk paging yang efisien (SQL Server 2012+)
    SELECT id, nama
    FROM Divisi
    WHERE nama LIKE @SearchTerm
    ORDER BY nama -- Penting untuk memiliki ORDER BY saat menggunakan OFFSET/FETCH
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DivisiDelete]    Script Date: 27/09/2025 20:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DivisiDelete]
    @id INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM Divisi WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DivisiInsert]    Script Date: 27/09/2025 20:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DivisiInsert]
    @nama NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Divisi (nama) VALUES (@nama);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DivisiUpdate]    Script Date: 27/09/2025 20:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DivisiUpdate]
    @id   INT,
    @nama NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Divisi SET nama = @nama WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_User_GetPaged]    Script Date: 27/09/2025 20:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_User_GetPaged]
    @SearchTerm NVARCHAR(100) = NULL,
    @PageNumber INT,
    @PageSize   INT,
    @TotalRows  INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SET @SearchTerm = ISNULL(@SearchTerm, '');
    SET @SearchTerm = '%' + @SearchTerm + '%';

    -- 1. Hitung total baris yang cocok dengan kriteria pencarian
    SELECT @TotalRows = COUNT(u.id)
    FROM [user] u
    WHERE u.nama LIKE @SearchTerm;

    -- 2. Ambil data untuk halaman yang diminta dengan JOIN ke tabel divisi
    SELECT
        u.id,
        u.nama,
        u.gender,
        d.nama AS divisi_nama, -- Mengambil nama divisi
        u.note,
        u.tanggal
    FROM
        [user] u
    LEFT JOIN
        divisi d ON u.divisi_id = d.id
    WHERE
        u.nama LIKE @SearchTerm
    ORDER BY
        u.nama -- Wajib ada ORDER BY untuk OFFSET/FETCH
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UserDelete]    Script Date: 27/09/2025 20:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UserDelete]
    -- Procedure ini hanya butuh satu parameter: ID user yang akan dihapus
    @id INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Perintah untuk menghapus user berdasarkan ID
    DELETE FROM [user]
    WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UserInsert]    Script Date: 27/09/2025 20:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UserInsert]
    @nama       NVARCHAR(50),
    @gender     BIT,
    @divisi_id  INT,
    @note       NVARCHAR(200),
    @tanggal    DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [user] (nama, gender, divisi_id, note, tanggal)
    VALUES (@nama, @gender, @divisi_id, @note, @tanggal);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UserUpdate]    Script Date: 27/09/2025 20:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UserUpdate]
    -- Tambahkan parameter @id di sini
    @id         INT, 
    @nama       NVARCHAR(50),
    @gender     BIT,
    @divisi_id  INT,
    @note       NVARCHAR(200),
    @tanggal    DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [user]
    SET
        nama = @nama,
        gender = @gender,
        divisi_id = @divisi_id,
        note = @note,
        tanggal = @tanggal
    WHERE
        id = @id;
END
GO
USE [master]
GO
